.root {
	-background-color: rgba(240, 235, 242, 0.9);
	-border-color: rgba(160, 160, 160, 0.8);
	-halo-color: rgba(80, 80, 80, 0.8);
}

.data-store-node-background {
	-fx-background-color: white;
	-fx-background-insets: 0;
	-fx-border-color: black;
	-fx-border-width:  1.5 0;
}

.data-store-node-selection-halo {
	-fx-stroke: -halo-color;
	-fx-opacity: 0.6;
	-fx-stroke-type: inside;
	-fx-stroke-line-cap: butt;
	-fx-fill: null;
}


